# Create dataframe from reading differnt formats
Ref: https://sparkbyexamples.com/pandas/

In [ ]:
#import libraries

import pandas as pd

#Mount my Gdirve

In [ ]:
from google.colab import drive
ROOT = "/content/GDrive"
drive.mount(ROOT)

Mounted at /content/GDrive

#Excel format

In [ ]:
# Read Excel file

excel_path = '/content/GDrive/MyDrive/COS3302/LAB#3-1/data_files/courses.XLSX'
df = pd.read_excel(excel_path)
print(df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

In [11]:
# Read excel by considering first row as data

columns = ["courses", "course_fee", "course_duration", "course_discount"]
df2 = pd.read_excel(excel_path, header= 0, names = columns)
print(df2)

  courses  course_fee course_duration  course_discount
0   Spark       25000         50 Days             2000
1  Pandas       20000         35 Days             1000
2    Java       15000             NaN              800
3  Python       15000         30 Days              500
4     PHP       18000         30 Days              800

In [28]:
# Read excel by setting column as index
df = pd.read_excel(excel_path, index_col = 0)

print(df)

            Fee Duration   Discount
Courses
Spark     25000   50 Days       2000
Pandas    20000   35 Days       1000
Java      15000       NaN        800
Python    15000   30 Days        500
PHP       18000   30 Days        800

In [19]:
# Read specific excel sheet

df = pd.read_excel(excel_path, sheet_name="Sheet1")
print(df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

In [21]:
# Read Multiple sheets
dict_df = pd.read_excel(excel_path, sheet_name=["Sheet1","Sheet2"])

# Get DataFrame from Dict
course_df = dict_df.get("Sheet1")
course_updated_df = dict_df.get("Sheet2")

# Print DataFrame's
print(course_df)
print('--------------------------------------------------')
print(course_updated_df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800
--------------------------------------------------
  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000   30 Days        700
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

In [22]:
# Read excel by skipping columns
df2 = pd.read_excel(excel_path, usecols=[0, 2])
print(df2)

  Courses  Duration
0    Spark   50 Days
1   Pandas   35 Days
2     Java       NaN
3   Python   30 Days
4      PHP   30 Days

In [23]:
# Skip columns by range
df2 = pd.read_excel(excel_path, usecols = 'B:D')
print(df2)

     Fee Duration   Discount
0  25000   50 Days       2000
1  20000   35 Days       1000
2  15000       NaN        800
3  15000   30 Days        500
4  18000   30 Days        800

In [24]:
# Read excel file by skipping rows
df2 = pd.read_excel(excel_path, skiprows = 2)
print(df2)

   Pandas  20000  35 Days  1000
0    Java  15000      NaN   800
1  Python  15000  30 Days   500
2     PHP  18000  30 Days   800

In [26]:
# Using skiprows to skip rows
df2 = pd.read_excel(excel_path, skiprows = [1, 3])
print(df2)

  Courses     Fee Duration   Discount
0   Pandas  20000   35 Days       1000
1   Python  15000   30 Days        500
2      PHP  18000   30 Days        800

In [27]:
# Using skiprows with lambda
df2 = pd.read_excel(excel_path, skiprows = lambda x: x in [1, 3])
print(df2)

  Courses     Fee Duration   Discount
0   Pandas  20000   35 Days       1000
1   Python  15000   30 Days        500
2      PHP  18000   30 Days        800

#Json format

In [32]:
# Read json from String
json_str = '{"Courses": { "r1": "Spark" }, "Fee": { "r1": "25000" }, "Duration": { "r1": "50 Days" } }'
df = pd.read_json(json_str)
print(df)

   Courses    Fee Duration
r1   Spark  25000  50 Days

<ipython-input-32-83d562f1e7bc>:3: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(json_str)

In [33]:
# Read json from String
json_str = '[ {"Courses": "Spark", "Fee": "25000", "Duration": "50Days", "Discount":"2000" } ]'
df = pd.read_json(json_str, orient = 'records')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000   50Days      2000

<ipython-input-33-9d43765cb99d>:3: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(json_str, orient = 'records')

In [38]:
# Read JSON file
json_file = '/content/GDrive/MyDrive/COS3302/LAB#3-1/data_files/courses_data.json'
df = pd.read_json(json_file)
print(df)

  Courses    Fee Duration
0   Spark  25000  50 Days
1  Pandas  20000  35 Days
2    Java  15000

In [39]:
# Read JSON file with records orient
df = pd.read_json('/content/GDrive/MyDrive/COS3302/LAB#3-1/data_files/courses.json', orient = 'records')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000                800

#CSV format (exercise)

In [41]:
csv_path = '/content/GDrive/MyDrive/COS3302/LAB#3-1/data_files/courses.csv'
df = pd.read_csv(csv_path)

print(df)

    Spark  25000  50 Days  2000
0  Pandas  20000  35 Days  1000
1    Java  15000      NaN   800
2  Python  15000  30 Days   500
3     PHP  18000  30 Days   800

In [54]:
df = pd.read_csv(csv_path, header = None, index_col = 0)
print(df)

            1        2     3
0
Spark   25000  50 Days  2000
Pandas  20000  35 Days  1000
Java    15000      NaN   800
Python  15000  30 Days   500
PHP     18000  30 Days   800

In [56]:
df2 = pd.read_csv(csv_path, header = None, usecols=[0, 1, 3])
print(df2)

        0      1     3
0   Spark  25000  2000
1  Pandas  20000  1000
2    Java  15000   800
3  Python  15000   500
4     PHP  18000   800

In [59]:
df2 = pd.read_csv(csv_path, header = None, skiprows=[2, 4])
print(df2)

        0      1        2     3
0   Spark  25000  50 Days  2000
1  Pandas  20000  35 Days  1000
2  Python  15000  30 Days   500